parameters:
    level: 4
    paths:
        - src
        - config
    tmpDir: build/phpstan
    ignoreErrors:
        -
          path: config/*
          identifier: larastan.noEnvCallsOutsideOfConfig

